<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="margin:0px;padding:0px;">
  <br/>
  <table border="0" align="center" width="550" cellpadding="0">
    <tr>
      <td align="center">
        <font face="Helvetica, Arial, Times New Roman" color="#7c287c" size="5"><img src="*|domain|*img/logo-comunitac-200.png" alt="Comunitac" /></font>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" height="60">
        <hr/>
      </td>
    </tr>
    <tr>
      <td align="left">
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3"><b>Saludos *|nombre|*,</b></font>
        <br/><br/>
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="2">*|texto|*</font><br/><br/>
      </td>
    </tr>
   </table>
  <table border="0" align="center" width="550" cellpadding="0" style="">   

    <tr>
      <td width="10"></td>
      <td align="center" width="260" valign="middle" style="border: 2px solid #7c277c; padding: 14px 5px 11px;">
        <font face="Helvetica, Arial, Times New Roman" color="#7c277c" size="3">Comarca: <b>*|comarca|*</b></font>
      </td>
      <td width="10"></td>
      <td align="center" width="260" valign="middle" style="border: 2px solid #1d1d1b; padding: 14px 5px 11px;">        
        <font face="Helvetica, Arial, Times New Roman" color="#1d1d1b" size="3">Posición: <b>*|posicion|*</b></font>
      </td>
      <td width="10"></td>
   </tr>
    
    
  </table>
   <br/>
  <table border="0" align="center" width="550" cellpadding="0">   
    <tr>
      <td align="center">
        <img src="*|posicion_img|*" width="100%" />
      </td>
    </tr>
    
    
  </table>
  <br/>
  <table border="0" align="center" width="550" cellpadding="10" style="background-color: rgba(124,40,124,0.19); border-radius: 30px; padding: 30px;">
      <tr>
      <td colspan="2" align="center" valign="top" height="100">
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="4"><b>Presupuesto</b></font><br/>
        <img src="*|domain|*flecha.png" alt="" />
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" width="50%" height="100">
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3">Tarifa al mes</font><br/>
        <font face="Helvetica, Arial, Times New Roman" color="#6b6c70" size="5"><strike>*|precioalmes|*€</strike></font>
      </td>
      <td align="center" valign="middle" width="50%" height="100" style="background-color: #fff; border-radius: 10px;">        
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3">Oferta del mes*</font><br/>
        <font face="Helvetica, Arial, Times New Roman" color="#7c287c" size="5"><b>*|preciooferta|*€</b></font>
      </td>
    </tr>
    <tr>
      <td align="center" valign="middle" width="50%" height="100">        
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3">Descuento del</font><br/>
        <font face="Helvetica, Arial, Times New Roman" color="#6b6c70" size="5">*|descuento|*%</font>
      </td>
      <td align="center" valign="middle" width="50%" height="100">        
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3">Producción e instalación</font><br/>
        <font face="Helvetica, Arial, Times New Roman" color="#6b6c70" size="5">*|instalacion|*€</font>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">        
        <font face="Helvetica, Arial, Times New Roman" color="#7c287c" size="4">Total por 3 meses + Producción + Instalación: *|total|*€</font>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <font face="Helvetica, Arial, Times New Roman" color="#6b6c70" size="1">* Oferta especial para un periodo de contratación de 3 meses. IVA no incluido.</font><br/>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <div style="border-top: 2px dashed #fff;"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <font face="Helvetica, Arial, Times New Roman" color="#333333" size="3">Si tienes cualquier duda nos puedes preguntar en:</font>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <a href="tel:+34944023333" style="text-decoration: none;"><font face="Helvetica, Arial, Times New Roman" color="#7c277c" size="5"><b><img src="*|domain|*img/telefono.jpg" alt="94 402 33 33" /></b></font></a>
      </td>
    </tr>
  </table>
  <table border="0" align="center" width="550" cellpadding="0">
    <tr>
      <td align="center">
        <img src="*|domain|*img/email_pie.jpg" alt="" />
      </td>
    </tr>
  </table>
</body>
</html>
